h1 {
    color: chartreuse;
    background-color: rgb(0, 139, 0);
}

p {
color: rgb(139, 0, 104);
background-color: rgba(0, 100, 87, 0.719);
}

h2 {
color: darkred;
background-color: firebrick;
}

blockquote {
color: gold;
background-color: rgb(105, 133, 255);
}

header {
color: indigo;
background-color: lightblue;
}

footer {
color: lightsalmon;
background-color: linen;
}

#exam-4 {
    color: magenta;
    background-color: mediumaquamarine;
}

#exam-5 {
    color: mediumvioletred;
    background-color: orangered;
}

#hello {
    color: paleturquoise;
    background-color: purple;
}

#hey {
    color: rosybrown;
    background-color: salmon;
}

#lol {
    color: sienna;
    background-color: snow;
}

.text-green {
    color: rgb(140, 210, 144);
}

.text-pink {
background-color: violet;
color: pink;
}

.text-big {
    font-size: 30px;  
}

.text-center {
text-align: center;
}

.text-right {
    text-align: right;
}

.bg-blue {
background-color: rgb(65, 225, 212);
}

.p1 {
font-family: 'Times New Roman', Times, serif;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

.h1 {
    font-size: 50px;
}

.h2 {
    font-size: 30px;
}

.p6 {
    font-size: medium;
}